@* @model IEnumerable<AOWebApp.Models.Customer> *@
@model AOWebApp.ViewModels.CustomerSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post">
    <div class="input-group mb-3">
        <span class="input-group-text">User Search</span>
        <input type="text" class="form-control" asp-for="@Model.SearchText" title="Search by customer name" placeholder="Type Customer Name here..." value="@Model.SearchText"/>
        <select asp-for="@Model.Suburb" class="form-control" asp-items="@Model.SuburbList">
            <option value="">All Suburbs...</option>
        </select>
    </div>

    <input type="submit" class="btn btn-outline-primary" value="Submit" />
    <a asp-action="Index" class="btn btn-outline-danger">Reset</a>
</form>

@* <form method="post" asp-action="Index" asp-controller="Customers" class="row form-group"> 
    <div class="input-group">
        <span class="input-group-text">Customer Name</span>
        <input type="text" name="SearchText" class="form-control" title="Search by customer name" placeholder="Type Customer Name here..." />
    </div>

    <select class="form-control" asp-items="@ViewBag.SuburbList">
        <option selected value="">All Suburbs...</option>
    </select>

    <div class="form-inline">
        <buttn class="btn btn-outline-success m-2" type="submit">Search Customer</buttn>
        <a asp-action="Index" class="btn btn btn-outline-danger">Reset</a>
    </div>
</form>
 *@


@if (Model.CustomerList != null && Model.CustomerList.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList.First().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList.First().ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerList.First().Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CustomerList) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    </table>
}
