@model IEnumerable<AOWebApp.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@* set a form element, which contains 100 char limitation *@
<div class="input-group">
    <span class="input-group-text">Item Search</span>
    <input type="text" class="form-control" placeholder="Type here..." />
</div>
<form class="form-inline">
    <button class="btn btn-info" type="submit">Submit</button>
    <button class="btn btn-danger" type="reset">Reset</button>
</form>

@* create cards *@
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card content-card border-dark">
                    <div class="card-body">
                        <h5 class="card-title">@item.ItemName</h5>
                        <p class="card-text">Category: @item.Category.CategoryName</p>
                        @{
                            string shortDescription = item.ItemDescription;
                            if (shortDescription != null && shortDescription.Length > 100)
                            {
                                shortDescription = shortDescription.Substring(1, 100) + "...";
                            }
                        }
                        <p class="card-text">@shortDescription</p>
                        <p class="card-text">@string.Format("{0:C}", item.ItemCost)</p>

                        <img src="@item.ItemImage" class="card-img-top" alt="...">
                        @* <a asp-controller="ItemsController" asp-action="Details" asp-route-id="@Html.DisplayFor(modelItem => item.ItemId)">View Item Details</a> *@
                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId">View Item Details</a>
                    </div>
                </div>
            </div> 
        }
    </div>
</div>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemImage)
                <img src="item.ItemImage" class="img-thumbnail" alt="..." />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@