@model AOWebApp.ViewModels.ItemSearchViewModel

@{
    ViewData["Title"] = "Index";
}

@* @if (Model == null)
{
    Model = new AOWebApp.ViewModels.ItemSearchViewModel();
} *@

<h1>Index</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>

<form method="post">
    <div class="input-group m-1">
        <span class="input-group-text">Item Search</span>
        <input type="text" class="form-control" asp-for="SearchText" title="Search by item name. Max 100 chars." maxlength="100" placeholder="Type here..." />
    </div>
    

    <select class="form-select m-1" asp-for="CategoryId" title="View items for a specific category" asp-items="Model.CategoryList">
        <option selected value="">All Categories...</option>
    </select>
    
    <div class="form-inline">
        <button class="btn btn-outline-primary m-2" type="submit">Submit</button>
        <a asp-action="Index" class="btn btn-outline-danger">Reset</a>
    </div>
</form>

<div class="form-text">
    <p>Found: @(Model.ItemList != null ? Model.ItemList.Count() : 0) items</p>
</div>

<div class="form-text">
    @{
        if (Model.ItemList == null || Model.ItemList.Count() == 0)
        {
            <h3 class="text-danger">Ooops, no items matched your search</h3>
        }
    }
</div>


@* create cards *@
<div class="container">
    <div class="row">
        @if (Model.ItemList != null)
        {
            @foreach (var item in Model.ItemList)
            {
                <div class="col-md-4">
                    <div class="card content-card border-dark m-1">
                        <div class="card-body">
                            <h5 class="card-title">@item.TheItem.ItemName</h5>
                            <p class="card-text">Category: @item.TheItem.Category.CategoryName</p>
                            @{
                                string shortDescription = item.TheItem.ItemDescription;
                                if (shortDescription != null && shortDescription.Length > 100)
                                {
                                    shortDescription = shortDescription.Substring(1, 100) + "...";
                                }
                            }
                            <p class="card-text">@shortDescription</p>
                            <p class="card-text">@string.Format("{0:C}", item.TheItem.ItemCost)</p>
                            <p class="card-text">
                                Rating:
                                @if (item.ReviewCount > 0)
                                {
                                    <span>@item.AverageRating across @item.ReviewCount Reviews</span>
                                }
                                else
                                {
                                    <span>This item has not reviewed</span>
                                }
                            </p>
                            <img src="@item.TheItem.ItemImage" class="card-img-top" alt="...">
                            <a asp-controller="Items" asp-action="Details" asp-route-id="@item.TheItem.ItemId">View Item Details</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
